@tailwind base;
@tailwind components;
@tailwind utilities;



.sub-icon{
    height: 80px;
    width: 80px;
    margin: 0 auto;
}
.page-title-sm{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    margin-bottom: 4px;
}
.page-sub-sm{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #98989f;
    margin-bottom: .8rem;
}
.page-sub-sm span{
    font-weight: 700;
    color: #ffffff;
}
.sub-features-hold{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 45vh;
    width: 100%;
}
.ft-title{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.sub-features{
    text-align: left;
}
.sub-features ul{
    margin: 0;
    padding: 0;
}
.sub-features ul li{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}
.sub-features ul li .icon{
    height: auto;
    width: 20px;
    /*padding-left: 10px;*/
}
.sub-features ul li .icon img{
    height: auto;
    width: 20px;
    max-width: unset;
}
.sub-features ul li .point{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
}
.app-form .form-group.alt{
    padding: 10px 0 0;
    border-radius: 10px;
    text-align: left;
    margin-top: 20px;
}

.app-form .form-group.alt{
    padding: 10px 0 0;
    border-radius: 10px;
    text-align: left;
    margin-top: 20px;
}
.app-form {
    min-height: 90vh;
}
.app-form .form-group .input-wrap-hold{
    width: 90% !important;
}
.app-form .form-group input.alt{
    padding: 0 0 2px;
    width: 100%;
}
.app-form .form-group .swap-curr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-form .input-group-base{
    background-color: #474747;
    border-radius: 0 0 10px 10px;
}

.rate-used{
    margin-top: 40px;
    min-height: 30vh;
    display: block;
}
.rate-used h4{
    color: white;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
}
.rate-holder{
    display: flex;
    flex-direction: row;
    justify-content: start;
    background: #2C2C2E;
    height: 44px;
    border-radius: 10px;
}
.rate-holder .rate-value{
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    width: 20%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.rate-holder .rate-input{
    width: 65%;
}
.rate-holder .rate-input input{
    background-color: transparent;
    padding: 10px 15px;
    border: 0 solid transparent;
    border-radius: 4px;
    color: rgba(235, 235, 245, 0.6);
    font-size: 16px;
    box-shadow: 0 0 0 transparent!important;
    width: 100%;
}
.rate-holder .rate-input input:focus{
    outline: none
}
.rate-holder .rate-control{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rate-holder .rate-control span{
    color: #FF8585;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    text-align: right;
    display: block;
    cursor: pointer;
}

.app-form {}
.app-form .block-steps{}
.app-form .block-steps .how-step{}


/*AppForm END*/



